{% load static %}
<html>
  <head>
    <title>Django Girls blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>
    <div class="page-header">
      {% if user.is_authenticated %}
      <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
      {% endif %}
      <h1><a href="/">Django Girls Blog</a></h1>
     <!-- <img src="https://images.unsplash.com/photo-1565619624098-cf4168a7cd9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80">  -->
    </div>

    <div class="content container">
      <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
      </div>
    </div>
    <div class="stopka">
      <div>
      Ta strona powstała na zajęciach programowania.
      </div>
      <div>
        {% now "j F Y H:i:"%}
      </div>
    </div>
  </body>
</html>
