<html>
  <head>
    <title>Pierwszy blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Pierwszy blog</a><h1>
    </div>

    <div>
      <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    {% for post in posts %}
      <div>
        <p>published: {{post.published_date}}</p>
        <h2><a href="">{{post.title}}</a></h2>
        <p>{{post.text|linebreaksbr}}</p>
      </div>
    {% endfor %}

    <div>
      <p> publikacja: 07.09.2019, 17:12</p>
      <p><a href="">Mój drugi post</a></h2>
      <p> Bla bla bla .....</p>
    </div>
  </body>
</html>
